/* Created by Big Secret */

body {
    margin:0;
    padding:0;
    box-sizing:border-box ;
}
.dark-mode{
    background-color: black;
    color: white;
}
.but{
    position: absolute;
    top: 7px;
    right: 5px;
    border-radius: 5%;
    padding: 10px;
    border-color: white;
}
.con{
    position:relative ;
    display:flex;
    align-items:center ;
    justify-content:center ;
    flex-direction:column;
}
header{
    width:100%;
    position:absolute ;
    top:0;
    height:50px;
    background-color:#ff66cc;
    text-align:center ;
    color:white;
    line-height:50px;
    font-size:30px;
}

.inputbox{
    display:flex;
    position:absolute ;
    top:80px;
}
.input{
    height:35px;
    width:220px;
    outline:none;
    text-indent:5px;    
}
.button{
    height:41px;
    width:43px;
    background-color:#90ee90;
    text-align:center ;
    line-height:41px;
    color:#fff;
    position:relative ;   
    left:-2px; 
}
.tit{
    width:100%;
    text-align:center ;
    margin-top:120px;
}
.confirmbox{
    height:200px;
    background-color:#ffd700;
    width:80%;
    position:absolute  ;
    margin-top:230px;
    color:#fff;
    text-align:center ;
    border-radius:5px;
}
.activebox{
    height:200px;
    background-color:#448aff;
    width:80%;
    position:absolute  ;
    margin-top:450px;
    color:#fff;
    text-align:center ;
    border-radius:5px;
}
.deathbox{
    height:200px;
    background-color:#ed5650;
    width:80%;
    position:absolute  ;
    margin-top:670px;
    color:#fff;
    text-align:center ;
    border-radius:5px;
}
.recoverbox{
    height:200px;
    background-color:#77dd77;
    width:80%;
    position:absolute  ;
    margin-top:890px;
    color:#fff;
    text-align:center ;
    border-radius:5px;
    margin-bottom:20px;
}
.title{
    font-size:30px;
    margin-top:20px;
}
.count{
    font-size:40px;
    margin-top:55px;
}